<h1>Information Report</h1>

<h3>Total da folha de pagaemnto 
    (Soma dos salários dos vendedores):</h3>
<p>R$ @ViewData["TotalFolhaPagamento"]</p>

<h3>Maior Salário da Empresa: </h3>
<p>R$ @ViewData["Maior"]</p>

<h3>Menor Salário da Empresa: </h3>
<p>R$ @ViewData["Menor"]</p>

<h3>Média Salarial dos Vendedores da Empresa: </h3>
<p>R$ @ViewData["Media"]</p>

<h3>Quantidade de Vendedores com 
    Valor Salarial Superior ou Igual à 10000: </h3>
<p>@ViewData["Ricos"]</p>